# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
dist
out
.turbo

# Database
*.db
*.db-journal

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo

# Payload
/apps/web/media
